.mainContainer {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #9bb59c;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 7px;
  }