html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100vh;
  background-image: url(../public/images/background2.jpg);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: auto 6rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #9bb59c;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 7px;
}